<ul>
  <% @cart.line_items.each do |item| %>
    <li class="m-5 p-3">
      <div class="container">
        <div class="box is-rounded is-centered has-background-light">
          <div class="columns is-multiline is-vcentered">
            <div class="column">
              <img class="image" src="https://fuzati.com/wp-content/uploads/2016/12/Ruby-Logo.png">
            </div>
            <div class="column is-two-fifths">
              <p class="is-size-4 is-capitalized has-text-weight-semibold has-text-left"><%= item.item_name %></p>
            </div>
            <div class="column is-one-quarter">
              <p class="is-size-5 has-text-centered"><%= item.unit_price %></p>
            </div>
            <div class="column is-one-quarter">
              <p class="is-size-5 has-text-right"><%= item.quantity %></p>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div class="columns is-centered">
  <%= link_to edit_cart_path, class: "button is-warning has-text-black is-size-6 has-text-weight-semibold" do %>
    Przejdź dalej
  <% end %>
</div>