<div id="<%= dom_id book %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= book.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= book.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= book.quantity %>
  </p>

</div>
