<section class="container">
  <% @books.each_slice(3) do |batch| %>
    <div class="columns features">
      <% batch.each do |book| %>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="" alt="Placeholder image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h5><%= book.name %></h5>
                <h6><%= book.price %></h6>
                <div>
                  In stock: <span class="is-size-6 has-text-weight-semibold	"><%= book.quantity %></span>
                </div>
                <span class="button is-warning">
                <%= link_to book_path(book) do %>
                  <span class="has-text-black is-size-6 has-text-weight-semibold">Details</span>
                <% end %>
              </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
